<?xml version="1.0" ?>
<SemanticEncoder>
	<general>
		<console>False</console>
		<dataset>birds</dataset>
	</general>
	<autoencoder>
		<epochs>100</epochs>
		<encoding_size>128</encoding_size>
	</autoencoder>
	<semantic_features>
		<awa2>
			<chosen_classes>50, 9, 7, 31, 38</chosen_classes>
			<classes_names>dolphin, blue+whale, horse, giraffe, zebra</classes_names>
		</awa2>
		<birds>
			<chosen_classes>50, 9, 7, 31, 38</chosen_classes>
			<classes_names>Eared_Grebe, Brewer_Blackbird, Parakeet_Auklet, Black_billed_Cuckoo,
				Great_Crested_Flycatcher</classes_names>
		</birds>
	</semantic_features>
	<baselines>
		<birds>
			<vis>0.626</vis>
			<stk>0.745</stk>
			<tnn>0.0</tnn>
			<pca>
				<c128>0.031191</c128>
				<c256>0.039800</c256>
				<c512>0.036663</c512>
				<c1024>0.036216</c1024>
			</pca>
		</birds>
	</baselines>
	<paths>
		<results_path>./_files/results/</results_path>
		<x_train_path>../Datasets/Birds/features/birds_x_train.txt</x_train_path>
		<y_train_path>../Datasets/Birds/features/birds_y_train.txt</y_train_path>
		<x_test_path>../Datasets/Birds/features/birds_x_test.txt</x_test_path>
		<y_test_path>../Datasets/Birds/features/birds_y_test.txt</y_test_path>
	</paths>
</SemanticEncoder>