<?xml version="1.0" ?>
<SemanticEncoder>
	<general>
		<console>False</console>
		<dataset>CUB200</dataset>
	</general>
	<autoencoder>
		<epochs>10</epochs>
		<ae_type>EXTENDED_AE</ae_type>
		<CUB200>
			<encoding_size>312</encoding_size>
		</CUB200>
		<AWA2>
			<encoding_size>85</encoding_size>
		</AWA2>
	</autoencoder>
	<semantic_features>
		<AWA2>
			<chosen_classes>50, 9, 7, 31, 38</chosen_classes>
			<classes_names>dolphin, blue+whale, horse, giraffe, zebra</classes_names>
		</AWA2>
		<CUB200>
			<chosen_classes>50, 9, 7, 31, 38</chosen_classes>
			<classes_names>Eared_Grebe, Brewer_Blackbird, Parakeet_Auklet, Black_billed_Cuckoo,
				Great_Crested_Flycatcher</classes_names>
		</CUB200>
	</semantic_features>
	<baseline>
		<CUB200>
			<vis>0.6151</vis>
		</CUB200>
		<AWA2>
			<vis>0.92</vis>
		</AWA2>
	</baseline>
	<paths>
		<results_path>./_files/results/</results_path>
		<CUB200>
			<x_train_path>../Datasets/CUB200/CUB200_x_train.txt</x_train_path>
			<y_train_path>../Datasets/CUB200/CUB200_y_train.txt</y_train_path>
			<x_test_path>../Datasets/CUB200/CUB200_x_test.txt</x_test_path>
			<y_test_path>../Datasets/CUB200/CUB200_y_test.txt</y_test_path>
		</CUB200>
		<AWA2>
			<x_train_path>../Datasets/AWA2/AWA2_x_train.txt</x_train_path>
			<y_train_path>../Datasets/AWA2/AWA2_y_train.txt</y_train_path>
			<x_test_path>../Datasets/AWA2/AWA2_x_test.txt</x_test_path>
			<y_test_path>../Datasets/AWA2/AWA2_y_test.txt</y_test_path>
		</AWA2>
	</paths>
</SemanticEncoder>