<?xml version="1.0" ?>
<SemanticEncoder>
	<general>
		<console>False</console>
	</general>
	<auto_encoder>
		<epochs>100</epochs>
		<noise_factor>0.05</noise_factor>
		<encoding_size>128</encoding_size>
	</auto_encoder>
	<semantic_features>
		<noise_rate>0.00</noise_rate>
		<chosen_classes>50, 9, 7, 31, 38</chosen_classes>
		<classes_names>dolphin, blue+whale, horse, giraffe, zebra</classes_names>
	</semantic_features>
	<paths>
		<results_path>_files/results/</results_path>
		<features_path>_files/features/</features_path>
		<x_train_path>../Datasets/Birds/features/birds_x_train.txt</x_train_path>
		<y_train_path>../Datasets/Birds/features/birds_y_train.txt</y_train_path>
		<x_test_path>../Datasets/Birds/features/birds_x_test.txt</x_test_path>
		<y_test_path>../Datasets/Birds/features/birds_y_test.txt</y_test_path>
	</paths>
</SemanticEncoder>